body {
    background-color: #343a40;
}

.card {
    margin: 15px 0;
}

.navbar {
    margin-bottom: 20px;
}

.text-light {
    color: #ffffff !important;
}

.navbar {
    position: fixed;   /* Fiksira navigaciju */
    top: 0;            /* Postavlja ju na vrh stranice */
    left: 0;           /* Postavlja je na lijevu stranu */
    width: 100%;       /* Osigurava da navigacija zauzima cijeli širinu ekrana */
    z-index: 1000;     /* Postavlja navigaciju iznad drugih elemenata */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Dodaje sjenčanje ispod navigacije */
}

/* Dodaj malo paddinga na početak sadržaja kako bi se izbjeglo da sadržaj bude ispod navigacije */
body {
    padding-top: 70px; /* Ovisno o visini tvoje navigacije, prilagodi ovu vrijednost */
}


.product-img {
    max-width: 100%;      /* Da slike ne prelaze širinu kartice */
    height: auto;         /* Omogućava automatsko prilagođavanje visine */
    max-height: 150px;    /* Ograničava visinu slike za ujednačen izgled */
    object-fit: contain;  /* Zadržava proporcije slike */
}

input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            text-align: center; 
        }

        .filters {
            margin: 20px 0;
            padding: 10px;
            background-color: #C1E1C1;
            border-radius: 5px;
        }
        
        .filter-price,
        .filter-vegan {
            margin-bottom: 15px;
        }
        
        .products-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .product-card {
            width: 250px;
        }
        
